{
  "_const": {
    "rpc_acl": "[{\"ch_type\": \"UART\", \"acl\": \"*\"},{\"method\": \"Shelly.GetInfo\", \"acl\": \"*\"},{\"method\": \"*\", \"ch_type\": \"HTTP\", \"acl\": \"admin\"},{\"method\": \"*\", \"ch_type\": \"WS_in\", \"acl\": \"admin\"}]"
  },
  "co2": {
    "detected_level": 1500
  },
  "conf_acl": "*",
  "dash": {
    "enable": true,
    "send_logs": false,
    "server": "ws://mdash.net/api/v2/rpc",
    "ssl_ca_cert": "ca.pem",
    "ssl_cert": "",
    "ssl_key": "",
    "token": "Rf0rTOGoK8YE91d90xnc6LgQ"
  },
  "debug": {
    "event_level": 3,
    "factory_reset_gpio": -1,
    "file_level": "",
    "level": 2,
    "mbedtls_level": 1,
    "mg_mgr_hexdump_file": "",
    "stderr_uart": 0,
    "stdout_uart": 0,
    "udp_log_addr": "",
    "udp_log_level": 3
  },
  "device": {
    "id": "custom16-AAF258",
    "license": "",
    "mac": "",
    "public_key": "",
    "sn": ""
  },
  "dns_sd": {
    "adv_only": false,
    "enable": true,
    "host_name": "switch",
    "txt": "fw_type=homekit"
  },
  "file_logger": {
    "buf_line": true,
    "buf_size": 1000,
    "dir": "/",
    "enable": false,
    "include": "",
    "level": 3,
    "max_file_size": 16000,
    "max_num_files": 1,
    "prefix": "log_",
    "rpc_service_enable": false,
    "syslog_enable": true,
    "timestamps": true
  },
  "hap": {
    "mfi_token": "",
    "mfi_uuid": "",
    "salt": "kjBC4rloXks32O3tfoUPTA==",
    "setup_id": "KZ26",
    "verifier": "mgm+KUDxRbhel9Hc18UzkrzBexE3PWvnsZXCKFhc+kXgolQODtPbNu1/sJzmy4R/+Y4nNbK0NYi8ApSrjXvdqhoLMj4M0bYB5tMIyI9WRzxhk3p0nPFvvFx/RIPr+/4nu/EvHSqtPSPyLHF42HX1GW/vnHZWiD2bc0zvPkHgaPD0PBVqAu8g0jZdLwIteXvF//WeYxjH4XiiFR5Q075EBmrR1pYZ+kgontBrY7rrYUuYnhLWRL8JlaYXl8IHDCa1G4XUjAe0sosyXspTj1AY9BtPKLfCuHjrsOeXurBPdTr6+SWy5Zx3Up8lQ6abpdAB8u6UG4FBiAlurSlcdCDLAShYZwKPgucBILudMGY+CD5Vnt998YvJ72P9bhGl5Q5KqtzjsBi0ubranmvhFzGD5whmHr0nJG3X1nB05GLZpkvfHtCT0wSVjv2cn5n0RkT5At38F7g3Olv7pqkdASjgrae4vEJkJjIGns69lJ9v41y8OxRjlbyf7AbMGL53ZE2h"
  },
  "http": {
    "auth_algo": 1,
    "auth_domain": "",
    "auth_file": "",
    "document_root": "/",
    "enable": true,
    "extra_headers": "",
    "hidden_files": "",
    "index_files": "",
    "listen_addr": "80",
    "ssl_ca_cert": "",
    "ssl_cert": "",
    "ssl_key": "",
    "upload_acl": "*"
  },
  "i2c": {
    "debug": false,
    "enable": true,
    "freq": 100000,
    "scl_gpio": 19,
    "sda_gpio": 18,
    "unit_no": 0
  },
  "i2c1": {
    "debug": false,
    "enable": true,
    "freq": 100000,
    "scl_gpio": 4,
    "sda_gpio": 2,
    "unit_no": 1
  },
  "in1": {
    "inverted": false,
    "sensor": {
      "idle_time": 15,
      "in_mode": 0,
      "name": "Custom S1"
    },
    "ssw": {
      "in_mode": 0,
      "name": "Custom SSW1"
    },
    "type": 3
  },
  "in10": {
    "inverted": false,
    "sensor": {
      "idle_time": 15,
      "in_mode": 0,
      "name": "Custom S10"
    },
    "ssw": {
      "in_mode": 0,
      "name": "Custom SSW10"
    },
    "type": 3
  },
  "in11": {
    "inverted": false,
    "sensor": {
      "idle_time": 15,
      "in_mode": 0,
      "name": "Custom S11"
    },
    "ssw": {
      "in_mode": 0,
      "name": "Custom SSW11"
    },
    "type": 3
  },
  "in12": {
    "inverted": false,
    "sensor": {
      "idle_time": 15,
      "in_mode": 0,
      "name": "Custom S12"
    },
    "ssw": {
      "in_mode": 0,
      "name": "Custom SSW12"
    },
    "type": 3
  },
  "in13": {
    "inverted": false,
    "sensor": {
      "idle_time": 15,
      "in_mode": 0,
      "name": "Custom S13"
    },
    "ssw": {
      "in_mode": 0,
      "name": "Custom SSW13"
    },
    "type": 3
  },
  "in14": {
    "inverted": false,
    "sensor": {
      "idle_time": 15,
      "in_mode": 0,
      "name": "Custom S14"
    },
    "ssw": {
      "in_mode": 0,
      "name": "Custom SSW14"
    },
    "type": 3
  },
  "in15": {
    "inverted": false,
    "sensor": {
      "idle_time": 15,
      "in_mode": 0,
      "name": "Custom S15"
    },
    "ssw": {
      "in_mode": 0,
      "name": "Custom SSW15"
    },
    "type": 3
  },
  "in16": {
    "inverted": false,
    "sensor": {
      "idle_time": 15,
      "in_mode": 0,
      "name": "Custom S16"
    },
    "ssw": {
      "in_mode": 0,
      "name": "Custom SSW16"
    },
    "type": 3
  },
  "in2": {
    "inverted": false,
    "sensor": {
      "idle_time": 15,
      "in_mode": 0,
      "name": "Custom S2"
    },
    "ssw": {
      "in_mode": 0,
      "name": "Custom SSW2"
    },
    "type": 3
  },
  "in3": {
    "inverted": false,
    "sensor": {
      "idle_time": 15,
      "in_mode": 0,
      "name": "Custom S3"
    },
    "ssw": {
      "in_mode": 0,
      "name": "Custom SSW3"
    },
    "type": 3
  },
  "in4": {
    "inverted": false,
    "sensor": {
      "idle_time": 15,
      "in_mode": 0,
      "name": "Custom S4"
    },
    "ssw": {
      "in_mode": 0,
      "name": "Custom SSW4"
    },
    "type": 3
  },
  "in5": {
    "inverted": false,
    "sensor": {
      "idle_time": 15,
      "in_mode": 0,
      "name": "Custom S5"
    },
    "ssw": {
      "in_mode": 0,
      "name": "Custom SSW5"
    },
    "type": 3
  },
  "in6": {
    "inverted": false,
    "sensor": {
      "idle_time": 15,
      "in_mode": 0,
      "name": "Custom S6"
    },
    "ssw": {
      "in_mode": 0,
      "name": "Custom SSW6"
    },
    "type": 3
  },
  "in7": {
    "inverted": false,
    "sensor": {
      "idle_time": 15,
      "in_mode": 0,
      "name": "Custom S7"
    },
    "ssw": {
      "in_mode": 0,
      "name": "Custom SSW7"
    },
    "type": 3
  },
  "in8": {
    "inverted": false,
    "sensor": {
      "idle_time": 15,
      "in_mode": 0,
      "name": "Custom S8"
    },
    "ssw": {
      "in_mode": 0,
      "name": "Custom SSW8"
    },
    "type": 3
  },
  "in9": {
    "inverted": false,
    "sensor": {
      "idle_time": 15,
      "in_mode": 0,
      "name": "Custom S9"
    },
    "ssw": {
      "in_mode": 0,
      "name": "Custom SSW9"
    },
    "type": 3
  },
  "k_apparent": 1750000,
  "max_power": 1800,
  "pcf857x": {
    "i2caddr": 64,
    "int_gpio": -1
  },
  "prometheus": {
    "pushgateway": "example.com:9091",
    "server_enable": true,
    "server_uri": "/metrics"
  },
  "rpc": {
    "acl": "",
    "acl_file": "",
    "auth_algo": 1,
    "auth_domain": "",
    "auth_file": "",
    "default_out_channel_idle_close_timeout": 10,
    "enable": true,
    "http_enable": true,
    "max_frame_size": 4096,
    "max_non_persistent_channels": 20,
    "max_queue_length": 25,
    "service_sys_enable": true,
    "uart": {
      "baud_rate": 115200,
      "dst": "",
      "fc_type": 2,
      "uart_no": 0
    },
    "ws": {
      "enable": true,
      "reconnect_interval_max": 60,
      "reconnect_interval_min": 1,
      "server_address": "",
      "ssl_ca_cert": "",
      "ssl_cert": "",
      "ssl_key": "",
      "ssl_server_name": ""
    }
  },
  "shadow": {
    "autocommit": false,
    "enable": true,
    "get_on_connect": true,
    "lib": "",
    "ota_enable": true
  },
  "shelly": {
    "cfg_version": 6,
    "legacy_hap_layout": false,
    "mode": 0,
    "name": "switch",
    "overheat_off": 90,
    "overheat_on": 100,
    "reboot_counter": 0,
    "wifi_connect_reboot_timeout": 0
  },
  "sntp": {
    "enable": true,
    "retry_max": 30,
    "retry_min": 1,
    "server": "time.google.com",
    "update_interval": 7200
  },
  "sw1": {
    "auto_off": false,
    "auto_off_delay": 0,
    "enable": true,
    "in_inverted": false,
    "in_mode": 0,
    "initial_state": 3,
    "name": "Stube",
    "out_inverted": false,
    "persist_state": false,
    "state": false,
    "state_led_en": -1,
    "svc_type": 0,
    "valve_type": -1
  },
  "sw10": {
    "auto_off": false,
    "auto_off_delay": 0,
    "enable": true,
    "in_inverted": false,
    "in_mode": 0,
    "initial_state": 3,
    "name": "Gang",
    "out_inverted": false,
    "persist_state": false,
    "state": false,
    "state_led_en": -1,
    "svc_type": 0,
    "valve_type": -1
  },
  "sw11": {
    "auto_off": false,
    "auto_off_delay": 0,
    "enable": true,
    "in_inverted": false,
    "in_mode": 0,
    "initial_state": 3,
    "name": "Bad",
    "out_inverted": false,
    "persist_state": false,
    "state": false,
    "state_led_en": -1,
    "svc_type": 0,
    "valve_type": -1
  },
  "sw12": {
    "auto_off": false,
    "auto_off_delay": 0,
    "enable": true,
    "in_inverted": false,
    "in_mode": 0,
    "initial_state": 3,
    "name": "Custom SW12",
    "out_inverted": false,
    "persist_state": false,
    "state": false,
    "state_led_en": -1,
    "svc_type": -1,
    "valve_type": -1
  },
  "sw13": {
    "auto_off": false,
    "auto_off_delay": 0,
    "enable": true,
    "in_inverted": false,
    "in_mode": 0,
    "initial_state": 3,
    "name": "Küche",
    "out_inverted": false,
    "persist_state": false,
    "state": false,
    "state_led_en": -1,
    "svc_type": 0,
    "valve_type": -1
  },
  "sw14": {
    "auto_off": false,
    "auto_off_delay": 0,
    "enable": true,
    "in_inverted": false,
    "in_mode": 0,
    "initial_state": 3,
    "name": "Custom SW14",
    "out_inverted": false,
    "persist_state": false,
    "state": false,
    "state_led_en": -1,
    "svc_type": -1,
    "valve_type": -1
  },
  "sw15": {
    "auto_off": false,
    "auto_off_delay": 0,
    "enable": true,
    "in_inverted": false,
    "in_mode": 0,
    "initial_state": 3,
    "name": "Custom SW15",
    "out_inverted": false,
    "persist_state": false,
    "state": false,
    "state_led_en": -1,
    "svc_type": -1,
    "valve_type": -1
  },
  "sw16": {
    "auto_off": false,
    "auto_off_delay": 0,
    "enable": true,
    "in_inverted": false,
    "in_mode": 0,
    "initial_state": 3,
    "name": "Custom SW16",
    "out_inverted": false,
    "persist_state": false,
    "state": false,
    "state_led_en": -1,
    "svc_type": -1,
    "valve_type": -1
  },
  "sw2": {
    "auto_off": false,
    "auto_off_delay": 0,
    "enable": true,
    "in_inverted": false,
    "in_mode": 0,
    "initial_state": 3,
    "name": "Custom SW2",
    "out_inverted": false,
    "persist_state": false,
    "state": false,
    "state_led_en": -1,
    "svc_type": -1,
    "valve_type": -1
  },
  "sw3": {
    "auto_off": false,
    "auto_off_delay": 0,
    "enable": true,
    "in_inverted": false,
    "in_mode": 0,
    "initial_state": 3,
    "name": "Custom SW3",
    "out_inverted": false,
    "persist_state": false,
    "state": false,
    "state_led_en": -1,
    "svc_type": -1,
    "valve_type": -1
  },
  "sw4": {
    "auto_off": false,
    "auto_off_delay": 0,
    "enable": true,
    "in_inverted": false,
    "in_mode": 0,
    "initial_state": 3,
    "name": "Custom SW4",
    "out_inverted": false,
    "persist_state": false,
    "state": false,
    "state_led_en": -1,
    "svc_type": -1,
    "valve_type": -1
  },
  "sw5": {
    "auto_off": false,
    "auto_off_delay": 0,
    "enable": true,
    "in_inverted": false,
    "in_mode": 0,
    "initial_state": 3,
    "name": "Custom SW5",
    "out_inverted": false,
    "persist_state": false,
    "state": false,
    "state_led_en": -1,
    "svc_type": -1,
    "valve_type": -1
  },
  "sw6": {
    "auto_off": false,
    "auto_off_delay": 0,
    "enable": true,
    "in_inverted": false,
    "in_mode": 0,
    "initial_state": 3,
    "name": "Custom SW6",
    "out_inverted": false,
    "persist_state": false,
    "state": false,
    "state_led_en": -1,
    "svc_type": -1,
    "valve_type": -1
  },
  "sw7": {
    "auto_off": false,
    "auto_off_delay": 0,
    "enable": true,
    "in_inverted": false,
    "in_mode": 0,
    "initial_state": 3,
    "name": "Custom SW7",
    "out_inverted": false,
    "persist_state": false,
    "state": false,
    "state_led_en": -1,
    "svc_type": -1,
    "valve_type": -1
  },
  "sw8": {
    "auto_off": false,
    "auto_off_delay": 0,
    "enable": true,
    "in_inverted": false,
    "in_mode": 0,
    "initial_state": 3,
    "name": "Custom SW8",
    "out_inverted": false,
    "persist_state": false,
    "state": false,
    "state_led_en": -1,
    "svc_type": -1,
    "valve_type": -1
  },
  "sw9": {
    "auto_off": false,
    "auto_off_delay": 0,
    "enable": true,
    "in_inverted": false,
    "in_mode": 0,
    "initial_state": 3,
    "name": "Technik",
    "out_inverted": false,
    "persist_state": false,
    "state": false,
    "state_led_en": -1,
    "svc_type": 0,
    "valve_type": -1
  },
  "sys": {
    "esp32_adc_vref": 0,
    "esp32_adc_width": 3,
    "pref_ota_lib": "",
    "tz_spec": "",
    "wdt_timeout": 30
  },
  "update": {
    "commit_timeout": 0,
    "enable_post": true,
    "extra_http_headers": "",
    "interval": 0,
    "key0": "",
    "key1": "",
    "key2": "",
    "key3": "",
    "key4": "",
    "key5": "",
    "key6": "",
    "key7": "",
    "sig_req_mask": -1,
    "ssl_ca_file": "ca.pem",
    "ssl_client_cert_file": "",
    "ssl_server_name": "",
    "timeout": 600,
    "url": ""
  },
  "wifi": {
    "ap": {
      "bandwidth_20mhz": false,
      "channel": 6,
      "dhcp_end": "192.168.33.100",
      "dhcp_start": "192.168.33.2",
      "disable_after": 0,
      "enable": false,
      "gw": "",
      "hidden": false,
      "hostname": "",
      "ip": "192.168.33.1",
      "keep_enabled": false,
      "max_connections": 10,
      "netmask": "255.255.255.0",
      "pass": "",
      "protocol": "BGN",
      "ssid": "custom16-AAF258",
      "trigger_on_gpio": -1
    },
    "sta": {
      "anon_identity": "",
      "bssid": "",
      "ca_cert": "",
      "cert": "",
      "channel": 0,
      "dhcp_hostname": "",
      "enable": true,
      "gw": "",
      "ip": "",
      "key": "",
      "last_bssid": "f0:9f:c2:aa:d0:bf",
      "last_channel": 1,
      "listen_interval_ms": 0,
      "nameserver": "",
      "netmask": "",
      "pass": "Black@Berry",
      "protocol": "BGN",
      "ssid": "weerfi",
      "user": ""
    },
    "sta1": {
      "anon_identity": "",
      "bssid": "",
      "ca_cert": "",
      "cert": "",
      "channel": 0,
      "dhcp_hostname": "",
      "enable": false,
      "gw": "",
      "ip": "",
      "key": "",
      "last_bssid": "",
      "last_channel": 0,
      "listen_interval_ms": 0,
      "nameserver": "",
      "netmask": "",
      "pass": "",
      "protocol": "BGN",
      "ssid": "",
      "user": ""
    },
    "sta2": {
      "anon_identity": "",
      "bssid": "",
      "ca_cert": "",
      "cert": "",
      "channel": 0,
      "dhcp_hostname": "",
      "enable": false,
      "gw": "",
      "ip": "",
      "key": "",
      "last_bssid": "",
      "last_channel": 0,
      "listen_interval_ms": 0,
      "nameserver": "",
      "netmask": "",
      "pass": "",
      "protocol": "BGN",
      "ssid": "",
      "user": ""
    },
    "sta_connect_timeout": 15,
    "sta_ps_mode": 0,
    "sta_roam_interval": 600,
    "sta_roam_rssi_thr": -80,
    "sta_rssi_thr": -95
  }
}
